on:
  push:
    branches:
    - main
jobs:
  print_message:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Print a message
      run: echo "A push was made to ${{ github.ref }}!"
    # Installe java 8 sur l'agent
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'

    # Compile notre application
    - name: Build with Maven
      run: mvn --batch-mode --update-snapshots package
